.confirmation{
  display: flex;
  flex-direction: column;
  min-width:100vw;
  min-height: 100vh;
  justify-content: center;
  align-items: center;

  
}

.confirmation-container {
  display:flex;
  min-width: 60%;
  min-height: 50%;
  box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);

}
.confirmation-title{
margin: 0rem auto;
text-align: center;
font-size: 5rem;
font-weight: bold;
}

.confirmation-wrap{
  display:flex;
  flex-direction: column;
  font-size: 2rem;
  align-items: baseline;
  justify-content: space-evenly;
  padding-left:2rem;
}

.confirmation-btn-container{
  display: flex;
  align-self: center;
  flex-direction: column;
  margin-bottom: 2rem;
  
}
#btn-style{

  margin: 2rem auto;
  width: 16rem;
  height: 6rem;
  font-size: 2rem;
  color: #fff;
  background: #002e7e;
}

img {
  width: 50%;
}