.color {
  transition: color 500ms ease-in;
}
.color:hover {
  color: red;
}

.guest {
  font-family: 'Sawarabi Gothic', sans-serif;
  border: none;
  background: inherit;
  color: #fff;
  font-weight: 700;
  font-size: 3.5rem;
  opacity: 0;
  transition: all 0.5s ease-in-out;
  animation: slide-right 800ms ease-in 250ms 1 forwards;
}
@keyframes slide-right {
  from {
    opacity: 0;
    transform: translateX(100px);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}

.splash {
  display: flex;
  position: absolute;
  top: 35%;
  left: 7%;
}

.splash-button {
  font-family: 'Sawarabi Gothic', sans-serif;
  background: #002e7e;
  color: #ffff;
  font-size: 3rem;
  height: 6rem;
  opacity: 0;
  width: 17rem;
  animation: slide 800ms ease-in 250ms 1 forwards;
  
}




@keyframes slide {
  from {
    opacity: 0;
    transform: translateX(-100px);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}

.splash-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: column;
  text-align: center;
  position: absolute;
  height: 45vh;
  top: 30%;
}
.splash-title {
  color: white;
  font-size: 8rem;
  opacity: 0;
  z-index: 1;
  font-family: 'Sawarabi Mincho', sans-serif;
  animation: fade 800ms ease-in 250ms 1 forwards;
}

@keyframes fade {
  from {
    opacity: 0;
    transform: translateY(-100px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
video {
  position: relative;
  object-fit: cover;
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  z-index: -1;
}
@media screen and (max-width: 1200px) {
  .guest {
    border: none;
    background: inherit;
    color: #fff;
    font-weight: 700;
    font-size: 2.5rem;
  }

  .splash {
    display: flex;
    position: absolute;
    top: 35%;
    left: 7%;
  }

  .splash-button {
    width: 15rem;
    height: 4.5rem;
    color: #ffff;
    background: #002e7e;
    font-size: 2.5rem;
  }
  .splash-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
    text-align: center;
    position: absolute;
    height: 45vh;
    top: 30%;
  }
  .splash-title {
    z-index: 1;
    font-size: 6rem;
    color: white;
  }

  video {
    position: relative;
    object-fit: cover;
    width: 100vw;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    z-index: -1;
  }
}
@media screen and (max-width: 1024px) {
  .guest {
    border: none;
    background: inherit;
    color: #fff;
    font-weight: 700;
    font-size: 2rem;
  }

  .splash {
    display: flex;
    position: absolute;
    top: 35%;
    left: 7%;
  }

  .splash-button {
    width: 13rem;
    height: 4rem;
    color: #ffff;
    background: #002e7e;
    font-size: 2rem;
  }
  .splash-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
    text-align: center;
    position: absolute;
    height: 40vh;
    top: 30%;
  }
  .splash-title {
    z-index: 1;
    font-size: 5rem;
    color: white;
  }

  video {
    position: relative;
    object-fit: cover;
    width: 100vw;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    z-index: -1;
  }
}
@media screen and (max-width: 768px) {
  .guest {
    border: none;
    background: inherit;
    color: #fff;
    font-weight: 700;
    font-size: 1.5rem;
  }

  .splash {
    display: flex;
    position: absolute;
    top: 38%;
    left: 5%;
  }

  .splash-button {
    width: 12rem;
    height: 3.5rem;
    color: #ffff;
    background: #002e7e;
    font-size: 1.5rem;
  }
  .splash-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
    text-align: center;
    position: absolute;
    height: 35vh;
    top: 30%;
  }
  .splash-title {
    z-index: 1;
    font-size: 4rem;
    color: white;
  }

  video {
    position: relative;
    object-fit: cover;
    width: 100vw;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    z-index: -1;
  }
}
@media screen and (max-width: 480px) {
  .guest {
    border: none;
    background: inherit;
    color: #fff;
    font-weight: 700;
    font-size: 1.3rem;
  }

  .splash {
    display: flex;
  }

  .splash-button {
    width: 10rem;
    height: 3rem;
    color: #ffff;
    background: #002e7e;
    font-size: 1.3rem;
  }
  .splash-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
    text-align: center;
    position: absolute;
    height: 30vh;
    top: 30%;
  }
  .splash-title {
    z-index: 1;
    font-size: 3rem;
    color: white;
  }

  video {
    position: relative;
    object-fit: cover;
    width: 100vw;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    z-index: -1;
  }
}
