.booking {
  min-width: 100vw;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.booking-form {
  display: flex;
  flex-direction: column;
  width: 50vw;
  height: 60vh;
  box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
  justify-content: space-evenly;
  align-items: center;
  animation: fade-in 1s;
}
@keyframes fade-in {
  from { transform: translate(500px); opacity: 0;}
  to { transform: translate(0); opacity: 1; }
}
.booking-name {
  margin-left: 13.5em;
  width: 50rem;
  font-size: 2rem;
}
.booking-label {
  font-size: 2rem;
}

#bookingIt-btn {
  align-self: center;
  background: #002e7e;
  color: #ffff;
  font-size: 3rem;
  height: 6rem;
  width: 17rem;
}

@media screen and (max-width: 480px) {
  .booking {
    width: 100%;
    height: 100%;
    margin: 0px;
    padding: 0px;
    overflow-x: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  
  .booking-form {
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    min-width: 80vw;
    min-height: 80vh;
    box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
    justify-content: space-evenly;
    align-items: center;
  }
  
  .booking-name {
    margin-left: 25.5rem;
    width: 50rem;
    font-size: 2rem;
  }
  .booking-label {
    font-size: 2rem;
  }
  
  #bookingIt-btn {
    align-self: center;
    background: #002e7e;
    color: #ffff;
    font-size: 2rem;
    height: 6rem;
    width: 15rem;
  }
}